* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header,
footer {
    padding: 25px;
    margin: auto;
    color: #f7f8f8;
    width: 100%;
    height: auto;
    display: inline-block;
}

header {
    background: linear-gradient(180deg, #1A5276 25%, #297fb938 85%);
}

footer {
    background: linear-gradient(0deg, #1A5276 20%, #297fb938 70%);
}

header h1 {
    display: inline-block;
    font-size: 3rem;
}

header nav,
footer nav {
    list-style-type: none;
    float: right;
    margin: auto;
    padding: 20px;
}

header nav li,
footer nav li {
    display: inline-block;
    padding-left: 20px;
    font-size: 1.2em;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.about-me {
    height: auto;
    align-items: center;
    padding: 2rem;
    text-align: center;
    border: 1px, solid, aqua;
}

.about-me-c {
    display: inline-block;
    vertical-align: middle;
}

h2 {
    font-size: 3.5em;
    text-align: center;
    color: #1A5276;
}

.about-me img {
    display: inline-block;
    max-width: 450px;
    border-radius: 50%;
}

.about-me p {
    display: inline-block;
    font-size: 2em;
    max-width: 50%;
}

.finished-projects {
    display: flex;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid #1A5276;
}

.finished-projects h2 {
    font-size: 3.5em;
    text-align: center;
    color: #1A5276;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    height: 400px;
    align-items: stretch;
    text-align: center;
    vertical-align: middle;
}

#horiseon,
#project-1,
#project-2,
#project-3 {
    background-size: cover;
    background-position: center;
    margin: 20px;
}


#horiseon {
    background-image: url(./Images/christopher-burns.jpg);
    transition: 1s;
    height: 400px;
}

#horiseon:hover {
    transform: scale(0.8);
}

.horiseon-project{
    flex: 3 0 50%;
}

#project-1 {
    background-image: url(./Images/Website\ Screenshot.gif);
    flex: 1 0 25%;
    height: 400px;
    transition: 1s;
}

#project-1:hover {
    transform: scale(0.8);
}

#project-2 {
    background-image: url(./Images/michael-dziedzic-Image.jpg);
    flex: 1 0 25%;
    height: 400px;
    transition: 1s;
}

#project-2:hover {
    transform: scale(0.8);
}


#project-3 {
    background-image: url(./Images/markus-spiske.jpg);
    flex: 1 0 25%;
    height: 400px;
    transition: 1s;
}

#project-3:hover {
    transform: scale(0.8);
}

h3 {
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: 5em;
    font-weight: 300;
    -webkit-text-stroke: .5px black;
}

.future-project-1 {
    background-image: url(./Images/under-construction-sml-sml.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 25em;
    width: 100%;
    transition: 1s;
}

.future-project-1:hover {
    transform: scale(0.8);
}

.contact {
    float: right;
    margin: auto;
    padding: 20px;
}

.contact li {
    display: inline-block;
    padding-left: 20px;
    font-size: 1.2em;
}

.contact li a {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    color: #1A5276;
    font-size: 1.5em;
    margin: 20px;
}